.wrapper {
	width: 100%;
	background: green;
	max-width: 980px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.left {
	float: left;
	width: 20%;
	background: orange;
	min-height: 100px;
}
.content {
	float: right;
	width: 78%;
	background: blue;
	min-height: 100px;
}
@media (max-width: 480px) {
	.wrapper {
		min-width: 320px;
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.left {
		float: none;
		width: 100%;
	}
	.content {
		float: none;
		width: 100%;
	}
}