.columns {
	padding: 5px;
	border: 1px solid green;
	width: 900px;
	margin: 20px auto;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	-o-column-count: 3;
	-ms-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	-o-column-gap: 2em;
	-ms-column-gap: 2em;
	column-gap: 2em;
	-webkit-column-rule: 3px gray solid;
	-moz-column-rule: 3px gray solid;
	-o-column-rule: 3px gray solid;
	-ms-column-rule: 3px gray solid;
	column-rule: 3px gray solid;
}
h2 {
	background: green;
	padding: 10px;
	color: #fff;
}
h2,
p:nth-child(2n) {
	/*-webkit-？;
	-moz-？;
	-o-？;
	-ms-？;
	？;*/
	-webkit-column-span:all;
  -moz-column-span:all;
  -o-column-span:all;
  -ms-column-span:all;
  column-span:all;
	
}